*{
    scroll-behavior: smooth;
    .mySlides {display: none;}
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    margin: 0px;
    
}
/* Slideshow container */
.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
  }

  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #393e41;;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: aliceblue;
  }
  
  /* Caption text */
  .text {
    color: #000000;
    text-shadow: 3px 3px 6px #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #393e41;
    font-size: 13px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.language {
    display: flex;
    flex-direction: row;   
    padding-top: 20px;
    padding-left: 82%;
    color: #8474A1;
    font-weight: bold;
    text-shadow: 1px 1px 2px #1f2122;
    background-color: #6EC6CA;
    text-decoration: none;
}
.languagein {
    display: flex;
    flex-direction: row;
    justify-content: right;    
    color: #8474A1;
    font-weight: bold;
    text-shadow: 1px 1px 2px #055B5C;
    outline-style: inset;
    outline-offset: 3px;
    background-color: #6EC6CA;
    text-decoration: none;
    border-radius: 4px;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10vh;
    padding: 20px;
    padding-top: 60px;
    background-color: #6EC6CA;
}
iframe {
	width: 80%;
	height: 700px;
	vertical-align: top;
	border: none;
    background-color: aliceblue ;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #6EC6CA;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text-wrapper{
    animate__bounceIn
}
.icon {
    display: flex;
    width: 50px;
    
}
.icon:hover {
    width: 70px;
}

.icons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#welcome-image {
    width: auto;
    height: 30%;
    margin-top: 10px;
    margin-bottom: 40px;
    max-width:45%;
    
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #CCABD8;
}

.first-block, .second-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.decoration-text,
span {
    text-decoration: none;
    color:#055B5C;
    font-weight: 900;
    text-shadow: 3px 3px 2px #6EC6CA;
    transition: all .3s ease-in-out;
}
.email-wrapper{
    display: flex;
    align-self: center;
}
.mail{
    text-decoration: none;
    color: #8474A1;
    font-weight: 900;
    transition: all .3s ease-in-out;
}

.mail:hover,
span:hover, .language:hover,
.decoration-text:hover {
    color: #393e41;
    text-shadow: none;
}
.link{
    text-decoration: none;
    color: #8474A1;
    font-weight: 900;
    text-shadow: 3px 3px 2px #CCABD8;
    transition: all .3s ease-in-out;
}

.link:hover, {
    color: #393e41;
    text-shadow: none;
}

.article-wrapper {
    width: 45%;
    text-justify:inherit; 
    padding-top: 80px;
}
.article-wrapper2 {
    width: 45%;
    text-justify:inherit;    
    padding-top: 80px; 
    
}

.prototyping-img {
    max-width: 40%;
    width: auto;
    height: 40%;
}

.first-block {
    padding-bottom: 20px;
}

.webdevices-img {
    max-width:40%;
    width: auto;   
    height: 40%;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background-color: #6EC6CA;
}

.project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    text-align: center;

}
.project-description2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;

}
.arrow {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: #8474A1;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}
.projects-pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.videoart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center;
    width: auto;
    padding-top: 1%;
    padding-left: 10%;
    margin: 0 auto; */
}
.reference {
    text-align:center;
    padding-block-end: 30px;
    padding: 2%;
}
#project2 {
    width: 50%;
    height: 40%;
}

.decoration-text {
    color: #055B5C;
}

#uxpreview{
    display: block;
    width: 100%;
    height: auto;
}

#uipreview{
    display: block;
    width: 100%;
}

#contact {
    display: flex;
    flex-direction: column;
    background-color:#055B5C;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.location-wrapper{
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    
}
#location-icon {
    max-height: 30px;
    width: 30px;
    padding-right: 10px;
    padding-top: 10px;

}

.socialnetwork-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
}

#linkedin-icon{
    padding-right: 20px;
}

#medium-icon{
    padding-top: 4px;
}
.preview {
    display: flex;
    flex-direction: row;
    justify-content: center, space-evenly;
    width: 3%;  
}

.bye-img {
    width: auto;
    height: 30%;
    max-width: 30%;
}
.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  #6EC6CA;
}

@media (max-width: 800px) {
    #home,
    .first-block,
    .second-block,
    .contact-wrapper,.videoart
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #home{
        justify-content: space-between;
    }
    .icons-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
